.pointer {
  cursor: pointer;
}
.capitalize {
  text-transform: capitalize;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.flex {
  display: flex;
}
.full-width {
  width: 100%;
}
