<main>
  <div class="docs-primary-header">
    <h1>Projects</h1>
  </div>
  <div class="m-20 ">
    <button mat-raised-button (click)="onAddProject()">Add new Project</button>
  </div>
  <div class="content-container">
    <table mat-table class="full-width-table mat-elevation-z8"
           [dataSource]="dataSource"
           matSort aria-label="Elements">
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="capitalize"
          >{{column}}</th>
          <td mat-cell *matCellDef="let row">{{row[column]}}</td>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEditProject(row)" title="Edit project">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDeleteProject(row)" title="Delete project">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="extraDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: extraDisplayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
                   [length]="dataSource.data.length "
                   [pageIndex]="0"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</main>

