<main>
  <app-page-title [title]="title"/>
  <div class="m-20">
    <a mat-stroked-button [routerLink]="returnLink">
      <mat-icon> keyboard_double_arrow_left</mat-icon>
      Employees page</a>
  </div>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="content-container">
    <mat-card>
      <mat-card-content>
        <div class="flex-row full-width"
             *ngFor="let field of filedList">
          <mat-form-field class="full-width">
            <mat-label class="capitalize">{{field}}</mat-label>
            <input matInput [formControlName]="field">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="p-l-20">
        <button mat-raised-button
                [disabled]="!employeeForm.valid"
                color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</main>
